{{ define "main" }}

<article class="page type-page status-publish hentry">
  <header class="entry-header has-text-align-center header-footer-group">
    <div class="entry-header-inner section-inner medium">
      <h1 class="entry-title">{{ .Title }}</h1>
    </div>
  </header>
  <div class="post-inner thin">
    <div class="entry-content">
      {{ .Content }}
    </div>
  </div>
</article>

<script type="text/javascript">var submitted=false;</script>
  <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
  onload="if(submitted) {window.location.pathname='thankyou.html';}"></iframe>

<form action="https://docs.google.com/forms/d/e/1FAIpQLSfzFnNfhTv-8GhCxrhJdLEws6jV3iOQJiDcLKHy--aDdUk15Q/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
  <input type="email" placeholder="Email Address*" name="entry.732395290" required>

  <input type="text" placeholder="Name" name="entry.1340498882">

  <input type="text" placeholder="Title" name="entry.1385546740">

  <textarea rows="5" placeholder="Your story*" name="entry.814778669" required></textarea>

  <br>By submitting my story, I agree to the community guidelines.<br><br>
 
  <button type="submit" style="align-content:center">Submit</button>
</form>

<!-- <div class="contact-form">
  <div class="container">
    <div class="row">
      <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
        onload="if(submitted) {window.location.pathname='thankyou.html';}"></iframe>
      <form method="POST" action="https://docs.google.com/forms/d/e/1FAIpQLSfzFnNfhTv-8GhCxrhJdLEws6jV3iOQJiDcLKHy--aDdUk15Q/formResponse" target="hidden_iframe" onsubmit="submitted=true;">
        <div class="wp-block-group">
          <div class="block">
            <div class="form-group">
              <input name="entry.1220974161" type="text" class="form-control" placeholder="Email Address*">
            </div>
            <div class="form-group">
              <input name="entry.1340498882" type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <input name="entry.1385546740" type="text" class="form-control" placeholder="Story Title">
            </div>
          </div>
        </div>
        <div class="wp-block-group">
          <div class="block">
            <div class="form-group-2">
              <textarea name="entry.814778669" class="form-control" rows="4" placeholder="Your Story*"></textarea>
            </div>
            <button class="button" style="width:150px;align-content: center;" type="submit">Submit!</button>
          </div>
        </div>
      </form>
    </div>
</section>
 -->
{{ end }}

